.service{
    display: flex;
    padding-top:32px;
    padding-left: 24%;
    padding-right: 3.5%;
    flex-direction: column;
  }

  .addButton{
    background-color:#64A0B4;
    color: white;
    height: 39px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .searchPanel{
    display: flex;
  }

  .buttonPanel{
    display: flex;
    justify-content: space-between;
  }

  .checkboxes .oneLine{
    margin-right: 0%;
  }

  .hidden{
    display: none;
  }