.profile{
    height: 700px ;
    margin-bottom: 26px;
}

.profile button{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.profile .updatePassword{
    margin-top: 28px;
}

.profile{
    gap:36px;
}
